/* Style consistent elements */
body{ 
    /* margin: 0;
    padding: 0; */
    font-size: 16pt;
    background-color: #F0F8FF;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;

}
header{
    display: flex;
    flex-flow: column nowrap;
    padding: 0px 0px 15px 0px;

}
h1{
    font-family: 'Tenor Sans';
    font-size: 2em;
    text-align: center;
    padding:15px 0px;
    background-color: #c5e3fc;
}
h2{
    font-family: 'Tenor Sans';
    font-size: 1em;
    text-align: center;
    padding:15px 0px;
}
nav{
    display: flex;
    justify-content: center;
    background-color: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.navbar{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    align-items: center;
}
nav a{
    font-family: 'Fahkwang';
    font-size: 0.85em;
    color: black;
    text-decoration: none;
    line-height: 1.6;
}
.nav_links{
    text-align: center;
    padding: 5px 0px;
}
#current{
    background-color: #4aadff;
    font-weight: bolder;
    font-size: 1.35em;
    width: 100%;
    box-shadow: 0 0 7px 7px #a6a6a6; 
}
p{
    font-family: 'Fahkwang';font-size: 0.80em;
    padding: 15px;
    line-height: 1.5;
}
main{
    display: flex;
    flex-flow: column nowrap;
}
img{
    align-self: center;
    padding: 10px;
    box-shadow: 0 0 7px 7px #a6a6a6; 
    width: 125px;
}
.main_photo{
    width: 50%;
    height: auto;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%;
    font-size: .75em;
    background-color: black;
    color: white;
    text-align: center;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.grid img{
    width: 100%;
    height: auto;
    padding: 0px;
}
.billy_img{
    max-width: 100%;
    height: auto;
    grid-column: 1/-1;
    grid-row: 1/2;
}
.billy_text{
    grid-column: 1/-1;
    grid-row: 2/3;
}
.luna_img{
    grid-column: 1/-1;
    grid-row: 3/4;
}
.luna_text{
    grid-column: 1/-1;
    grid-row: 4/5;
}


@media all and (min-width: 800px){
    .main_photo{
        width: 30%;
        height: auto;
    }
    .navbar{
        flex-flow: row nowrap;
        width: auto;
    }
    .nav_links{
        padding: 15px;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 3fr 5fr 3fr 1fr;
        grid-template-rows: auto auto auto auto auto;
    }

    .billy_img{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .billy_text{
        grid-column: 3/5;
        grid-row: 1/2;
    }
    .luna_img{
        grid-column: 4/5;
        grid-row: 2/3;
    }
    .luna_text{
        grid-column: 2/4;
        grid-row: 2/3;
    }
}

